.mainSubtitleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.source {
    margin: 10px 40px;
    padding: 10px 40px;
    background-color: rgb(46, 49, 54);
    font-size: 2em;
}

.dest {
    margin: 10px 40px;
    font-size: 1.8em;
    padding: 10px 40px;
    background-color: rgb(46, 49, 54);
}