.subtitleBox {
    background-color: rgba(176, 53, 50, 0.50);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll
}

.subtitleItem {
    background-color: rgba(176, 53, 50, 0.20);
    margin: 5px 5px;
    padding: 5px 0;
    border: 0;
    border-radius: 5px;
    display: flex;
}

.currentSubtitle {
    position: absolute;
    top: 295px;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 176, 172, 0.43);
    z-index: -100;
}

.subtitleItem:hover {
    background-color: rgba(255, 228, 196, 0.30);
}

.subtitleItemIcon {
    text-align: center;
    width: 40px;
    visibility: hidden;

}
.subtitleItemText {
    text-align: center;
    width: 100%;

}