html {
    background-color: rgb(32, 34, 37);
    color: #fff;
}
body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 65vw 35vw;
    grid-template-rows: 70vh 30vh;
}
.subtitle {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.player{
    height: 100%;
}

.underline-subtitle {
    display: flex;
    flex-direction: column;
}