body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 60vh 40vh;
}
.subtitle {
    background: #b03532;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.player{
    height: 100%;
}
p {
    background-color: black;
}
